._*
# pytorch
.DS_Store
results
render_module/*/*/_ext/
# data
*.tar.gz
data/images
data/objects
final_models
results
checkpoints
*.tar
*.h5

# tf checkpoints
checkpoint
*.data-*
*.index
*.meta

.nfs*
*.txt

## General
*.out
# Compiled Object files
*.slo
*.lo
*.o
*.cuo

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled protocol buffers
*.pb.h
*.pb.cc
*_pb2.py

# Compiled python
*.pyc

# Compiled MATLAB
*.mex*

# IPython notebook checkpoints
.ipynb_checkpoints

# Editor temporaries
*.swp
*~

# Sublime Text settings
*.sublime-workspace
*.sublime-project

# Eclipse Project settings
*.*project
.settings

# QtCreator files
*.user

# PyCharm files
.idea

# OSX dir files
.DS_Store

# OSX cache
._*

## Caffe

# User's build configuration
Makefile.config

#ztzhang
*_deprecated.py
*.npy
result/*
result
result_old/*

# Data and models are either
# 1. reference, and not casually committed
# 2. custom, and live on their own unless they're deliberated contributed
*.caffemodel
*.caffemodel.h5
*.solverstate
*.solverstate.h5
*.binaryproto
*leveldb
*lmdb

# build, distribute, and bins (+ python proto bindings)
build/*
.build_debug/*
.build_release/*
distribute/*
*.testbin
*.bin
python/caffe/proto/
cmake_build
.cmake_build
__pycache__/

# Generated documentation
docs/_site
docs/gathered
_site
doxygen
docs/dev

# Results
results/*

# LevelDB files
*.sst
*.ldb
LOCK
LOG*
CURRENT
MANIFEST-*

# common data files
*.mat
*.obj
*.npz
*.png
*.zip
